html{
    box-sizing: border-box;
}

*,
*::before,
*::after
{
    box-sizing: inherit;
}

body{
    padding: 0;
    margin: 0;
    font-family: Consolas;
    font-size: 16px;
}
p{
    margin: 0;
}

a{
    text-decoration: none;
}
/* 1. CONTAINER
   2. HEAD
   3. NAVIGATION */
/* CONTAINER */
.container{
    width: 1200px;
    margin: 0 auto;
}

/* HEADER */
header{
    background-color: #4267b2;
}
.header1{
    display: inline-block;
    width: 100%;
}

.header_logo{
    float: left;
}
.header_logo a{
    color: #fff;
    transition: all .3s ease;
    text-decoration: none;
    margin: 25px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: #fff;
}

.header_logo a:hover{
    color: rgba(255, 255, 255,0.5);
    cursor: pointer;
}

/* NAVIGATION */
nav{
    padding: 36px 0;
    float: right;
    text-align: right;
}
.navigation_menu_item{
    margin-left: 25px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    padding-bottom: 5px;
    /* transition: all .7s ease; */
}
.navigation_menu_item:not(:last-child){
    margin-left: 0;
}
.navigation_menu_item:hover{
    color: lightskyblue;
    border-bottom: 3px solid lightskyblue;
}
/* FOOTER */
.footer_bgc{
    background-color: #4267b2;
}

p{
    display: inline-block;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* MENU */
.active_menu_item{
    color: lightskyblue;
    border-bottom: 3px solid lightskyblue;
}

.content{
    display: flex;
    flex-wrap: wrap;
}

.content_item{
    width: 400px;
    text-align: center;
    margin-top: 15px;
    
}

.content_item_title{
    margin: 0;
    padding: 10px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
}

.content_item_logo{
    padding: 10px;
    border-radius: 15px;
    
}
.content_item_logo:hover{
    cursor: pointer;
}
.content_item_text{
    color: #000;
    padding: 10px 0;
}

.content_item_button{
    margin: 10px;
    padding: 15px;
    border: none;
    border-radius: 8px;
    color: #000;
    display: block;
    background-color:rgb(40, 182, 40);
    transition: all .3s ease;
}
.content_item_button:hover{
    background-color:rgb(87, 195, 87);
    color: #fff;
    border-radius: 40px;
}