html{
    box-sizing: border-box;
}

*,
*::before,
*::after
{
    box-sizing: inherit;
}

body{
    padding: 0;
    margin: 0;
    font-family: Consolas;
    font-size: 16px;
    
}
a{
    text-decoration: none;
}
/* 1. CONTAINER
   2. HEAD
   3. NAVIGATION */
/* CONTAINER */
.container{
    width: 80%;
    margin: 0 auto;
}

/* HEADER */
header{
    background-color: #4267b2;
}
.header1{
    display: inline-block;
    width: 100%;
}

.header_logo{
    float: left;
}
.header_logo a{
    color: #fff;
    transition: all .3s ease;
    margin: 25px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: #fff;
}

.header_logo a:hover{
    color: rgba(255, 255, 255,0.5);
    cursor: pointer;
}

/* NAVIGATION */
nav{
    padding: 36px 0;
    float: right;
    text-align: right;
}
.navigation_menu_item{
    margin-left: 25px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    padding-bottom: 5px;
    /* transition: all .7s ease; */
}
.navigation_menu_item:not(:last-child){
    margin-left: 0;
}
.navigation_menu_item:hover{
    color: lightskyblue;
    border-bottom: 3px solid lightskyblue;
}
.content_photo{
    width: 100%;
}